/* 기본 설정 */
.basic-layout {
  display: flex;
  height: 100vh;
}

/* 메인 컴포넌트 */
.main-container {
  flex: 1;
  padding: 2rem;
  background-color: white;
  gap: 2rem;
}

/* 화면이 작아졌을 때 (1024px) */
@media (max-width: 1024px) {
  .basic-layout {
    display: block;
    height: auto;
  }
}
